.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  min-height: 100%;
}

.start-screen__title {
  margin: 0;
  font-size: 20px;
}

.start-screen__link {
  text-align: center;
  color: #000;
  border: 2px solid #000;
  border-radius: 99em;
  padding: 5px 15px;
  width: 60%;
}

.start-screen__info {
  margin: 0;
  text-align: center;
  color: grey;
}

@media screen and (min-width: 374px) {
  .start-screen__info {
    font-size: 20px;
  }

  .start-screen__title {
    font-size: 25px;
  }

  .start-screen__link {
    font-size: 22px;
  }
}