.order {
  border: 2px solid var(--main-text-color);
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10px;
}

.order__title {
  margin: 0;
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  color: var(--main-text-color);
}

.order__title:nth-child(1) {
  margin-top: 0;
}

.order__subtitle {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
  color: var(--secondary-text-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.order__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order__button {
  margin-top: 5px;
  text-align: center;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  font-size: 13px;
  border-radius: 5px;
  width: 45%;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
}

.order__link {
  color: var(--main-bg-color);
}

.order__subtitle-link {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 374px) {

  .order__title {
    margin-top: 10px;
    font-size: 20px;
  }

  .order__subtitle {
    margin-top: 10px;
    font-size: 15px;
  }

  .order__button {
    margin-top: 10px;
    font-size: 15px;
  }
}