.order {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
}

.order__title {
  margin: 0;
  font-size: 15px;
  text-align: center;
}

.order__subtitle {
  margin: 0;
  font-size: 12px;
  color: grey;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.order__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.order__button {
  text-align: center;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  width: 45%;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
}

.order__link {
  color: #000;
}

.order__subtitle-link {
  color: inherit;
}

@media screen and (min-width: 374px) {
  .order {
    gap: 10px;
  }

  .order__title {
    font-size: 20px;
  }

  .order__subtitle {
    font-size: 15px;
    gap: 5px;
  }

  .order__button {
    font-size: 15px;
  }
}