.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
}

.form__title {
  margin: 0;
  font-size: 22px;
  text-align: center;
}