.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: auto;
}

.form__title {
  margin: 0;
  font-size: 22px;
  text-align: center;
  color: var(--main-text-color);
}