.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 10px;
}

.orders__link {
  max-width: 170px;
  display: block;
  width: 50%;
  margin: 0 auto;
  border: none;
  background-color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (min-width: 374px) {

  .orders__link {
    font-size: 15px;
  }

}