.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.orders__link {
  max-width: 170px;
  display: block;
  width: 50%;
  margin: 0 auto;
  background-color: var(--main-text-color);
  border-radius: 5px;
  padding: 8px 18px;
  color: var(--main-bg-color);
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (min-width: 374px) {

  .orders__link {
    font-size: 15px;
  }

}