.order-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.order-page__delButton {
  border: none;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 6px 18px;
  align-self: start;
}

.order-page__delButton_type_warning {
  background: linear-gradient(45deg, red 20%, black);
}

.order-page__text {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-size: 12px;
}

.order-page__span {
  color: #000;
  font-size: 14px;
}

.order-page__link {
  color: #000;
  font-size: 14px;
}

.order-page__title {
  margin: 0;
  font-size: 16px;
  padding-bottom: 2px;
  border-bottom: 2px solid #000;
}

.order-page__addRoomButton {
  margin-top: 5px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 13px;
}

.rooms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  margin-top: 5px;
}

.rooms__info {
  margin: auto;
  font-size: 15px;
  color: grey;
}

@media screen and (min-width: 374px) {

  .order-page__delButton {
    font-size: 16px;
  }

  .order-page__text {
    margin-top: 8px;
    font-size: 16px;
  }

  .order-page__span {
    font-size: 18px;
  }

  .order-page__link {
    font-size: 18px;
  }

  .order-page__addRoomButton {
    margin-top: 8px;
    font-size: 16px;
  }

  .rooms {
    margin-top: 8px;
  }

  .rooms__info {
    font-size: 20px;
  }

}