.services__link {
  display: block;
  text-align: center;
  color: #000;
  padding: 8px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 65%;
  font-size: 14px;
  box-sizing: border-box;
}

.services__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.services__select {
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

@media screen and (min-width: 324px) {
  .services__label {
    font-size: 18px;
  }

  .services__select {
    font-size: 15px;
  }

  .services__link {
    font-size: 18px;
  }

}