.services__link {
  display: block;
  text-align: center;
  color: #000;
  padding: 8px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 65%;
  font-size: 14px;
  box-sizing: border-box;
}

.services__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.services__select {
  font-size: 12px;
  padding: 5px;
}