@keyframes appear {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.congrats__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-image: url(../../images/salut.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Arial Black", Gadget, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.congrats__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  background-color: rgba(0, 0, 0, .4);
  padding: 15px;
}

.congrats__button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 0;
  width: 30px;
  border: none;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/close.png);
  color: var(--main-text-color);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.congrats__title {
  margin: 0;
  color: var(--main-text-color);
  text-align: center;
  animation: appear 1s forwards;
}

.congrats__subtitle {
  margin: 0;
  margin-top: 20px;
  color: var(--main-text-color);
  text-align: center;
  animation: appear 2s forwards;
}

.congrats__text {
  margin: 0;
  margin-top: 20px;
  color: var(--main-text-color);
  text-align: center;
  opacity: 0;
}

.congrats__text_type_first {
  animation: appear 3s forwards;
}

.congrats__text_type_second {
  animation: appear 7s forwards;
}

.congrats__text_type_third {
  animation: appear 13s forwards;
}

.congrats__text_type_ps {
  color: var(--secondary-text-color);
  font-size: 12px;
  animation: appear 27s forwards;
}

.congrats__congratulations {
  margin: 0;
  margin-top: 20px;
  color: var(--main-text-color);
  text-align: center;
  animation: appear 25s forwards;
}