.room {
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
}

.room__title {
  margin: 0;
  font-size: 18px;
}

.room__info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: grey;
  font-size: 13px;
}

.room__span {
  color: #000;
}

.room__subtitle {
  margin: 0;
  font-size: 14px;
}

.room__services {
  width: 100%;
  padding: 2px 5px;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 13px;
  height: 100%;
  background-color: #fff;
}

.room__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
  height: 27px;
}

.room__servicesDelButton {
  background: none;
  background-image: url(../../images/trash.png);
  background-position: center center;
  background-size: 20px;
  background-repeat: no-repeat;
  border: 1px solid #000;
  height: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0;
  width: 12%;
  min-width: 12%;
}

.room__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.room__button {
  border: none;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  padding: 5px 10px;
}

.room__button_type_warning {
  background: linear-gradient(45deg, red 20%, black);
}

.room__cash {
  text-align: right;
  margin: 0;
  font-size: 13px;
  width: 18%;
  min-width: 18%;
}

@media screen and (min-width: 374px) {
  .room {
    gap: 7px;
  }

  .room__delButton {
    font-size: 15px;
  }

  .room__title {
    font-size: 24px;
  }

  .room__info {
    font-size: 16px;
  }

  .room__subtitle {
    font-size: 18px;
  }

  .room__label {
    height: 30px;
  }

  .room__services {
    font-size: 15px;
  }

  .room__cash {
    font-size: 15px;
  }
}