.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 425px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  z-index: 2;
  box-sizing: border-box;
}

.header__button {
  padding: 0;
  width: 30px;
  border: none;
  background-color: #fff;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/Hamburger_icon.png);
}

.header__link {
  font-size: 22px;
  background: linear-gradient(135deg, #000 20%, red 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}