.form-input {
  padding: 5px 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 99em;
  width: 80%;
  margin: 0;
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  background: none;
}

.form-input_type_error {
  border: 2px solid red;
}

.form-input__label {
  margin-top: 10px;
  text-align: center;
  position: relative;
  width: 90%;
}

.form-input__error {
  color: red;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 110%);
}

.form-input:focus::placeholder {
  opacity: 0;
}

.form-input::placeholder {
  color: var(--secondary-text-color);
}

.form-input:focus {
  outline: none;
}

@media screen and (min-width: 324px) {
  .form-input {
    font-size: 18px;
  }
}