@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes pulse {
  0% {
    background-color: red;
  }
  50% {
    background-color: rgb(255, 177, 32);
  }
  100% {
    background-color: red;
  }
}

.input__container {
  margin-top: 5px;
  padding: 3px;
  background: var(--main-text-color);
  border-radius: 99em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.input__container_type_focused::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200%;
  height: 100%;
  background: var(--main-gradient);
  background-size: 50% 100%;
  animation: slidein 1s linear infinite;
}

.input__container_type_error::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200%;
  height: 100%;
  background-size: 50% 100%;
  animation: pulse 1.5s linear infinite;
  /* background: linear-gradient(115deg, red, orange, red); */
}

.form-input {
  padding: 5px 15px;
  border: none;
  border-radius: 99em;
  margin: 0;
  text-align: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  z-index: 3;
}

.form-input__label {
  margin-top: 5px;
  text-align: center;
  position: relative;
  width: 90%;
  color: var(--secondary-text-color);
}

.form-input__error {
  color: red;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 110%);
}

.form-input:focus::placeholder {
  opacity: 0;
}

.form-input::placeholder {
  color: var(--secondary-text-color);
}

.form-input:focus {
  outline: none;
}

@media screen and (min-width: 324px) {
  .form-input {
    font-size: 18px;
  }

  .input__container {
    padding: 4px;
  }
}