.form-input {
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 99em;
  width: 80%;
  margin: 0;
  text-align: center;
}

.form-input__label {
  text-align: center;
  position: relative;
  width: 90%;
}

.form-input__error {
  color: red;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 110%);
}

.form-input:focus::placeholder {
  opacity: 0;
}