.form-button {
  border: none;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  width: 65%;
}

.form-button_type_disabled {
  background-color: grey;
}